p {
  font-size: larger;
}

body {
  /* //background: rgba(188, 200, 255, 0.2); */
  background: #0e1422;
  background-image: url("../public/images/background.jpg");
  background-repeat: no-repeat;  
}

.icon {
  display: inline-block;
  color: #fff;
  width: 49%;
}

.icon img {
  width: 100px;

  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}

.frontLogo {
  display: block;
  color: white;
  margin: auto;
  text-align: center;
}

.button-area {
  display: inline-block;
}

nav {
  margin: auto;

  width: 100%;
  display: inline-block;
  text-align: right;
  flex-direction: row;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  color: #555;
  text-decoration: none;
  display: inline;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}

nav a {
  color: #555;
  text-decoration: none;
  display: inline;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}

nav ul li a:hover {
  color: #fff;
  background: #444;
}

header {
  top: 0px;
  background: #fff;
  color: #000;
  padding: 10px 30px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.space {
  margin-top: 2rem;
}

.box-border {
  border: 1px solid #555;
  border-radius: 15px;
  box-shadow: 2px 3px rgba(64, 64, 64, 0.4);
}

.main-window {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-inline: auto;
  padding-top: 2rem;
  width: fit-content;
  height: fit-content;
}

.volcano-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background: rgba(255, 255, 255, 0.3);
}

.volcano-info {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  align-items: center;
  width: fit-content;
  height: 17rem;
  width: 850px;
  margin: 2rem;
}

.working-window {
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 2rem;
  width: fit-content;
  height: 100%;
  padding-block: 2rem;
  padding-inline: 2rem;
  background: rgba(255, 255, 255, 0.3);
}
.control-outside {
  flex-direction: column;
  align-items: flex-start;

  padding-right: 1rem;
  width: 320px;
  height: 650px;
}

.round-box {
  margin: auto;
  flex-direction: row;
  align-items: center;

  background: #eee;

  width: 90%;
  padding-block: 1%;
  padding-inline: 1%;
}

.front-page-box {
  margin: auto;
  background: rgba(255, 255, 255, 1);
  width: 40%;
  height: fit-content;
}

.button-area {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: fit-content;
  height: fit-content;
}

.button-area-text {
  margin-top: 1rem;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.Button {
  display: inline;
  padding: 20px;
}

.control-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding-block: 1rem;
  width: fit-content;
  height: fit-content;
}

.log-box {
  text-align: center;
  width: 1000px;
}

.log-text-box {
  padding-block: 1rem;
}
